body{
text-align: center;
background: wheat;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

h1{
  color: rgb(44,0,0);
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(44,0,0);
display: inline-block;
font-weight: 100;
text-align: center;
font-size: 30px;
}

#clockdiv > div{
padding: 10px;
border-radius: 3px;
background: rgb(66,0,0);
display: inline-block;
}

#clockdiv div > span{
padding: 15px;
border-radius: 3px;
background: wheat;
display: inline-block;
}

.smalltext{
padding-top: 5px;
color:wheat;
font-size: 16px;
}